{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} Наши контакты {%endblock %}
</head>
<body>
    {% block content %}
        {% for contact in contacts_elements %}
            <div class="col-12" >
                <h1>{{ contact.title }}</h1>
                {% autoescape off %}
                    <div>{{ contact.description }}</div>
                {% endautoescape %}
            </div>
        {% endfor %}
    {% endblock %}
</body>
</html>