{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} Вопросы / Ответы{%endblock %}
</head>
<body>
    {% block main_menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:index' %}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:service_list' %}">Услуги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'forms_app:order' %}">Заказ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:contacts' %}">Контакты</a>
        </li>
        <li class="nav-item  active">
            <a class="nav-link" href="{% url 'main_app:faq' %}">FAQ</a>
        </li>
    {% endblock %}

    {% block content %}
        {% for faq in faq_elements %}
            <div class="col-12" align="center">
                <h2>{{ faq.section }}</h2>
                {% autoescape off %}
                    <p>{{ faq.description }}</p>
                {% endautoescape %}
            </div>
        {% endfor %}
    {% endblock %}
</body>
</html>