{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href = "{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    {% block title %} Lab Room 47 {% endblock %}
</head>
<body>

    {% block row %}

        <div class="row about-row" style="margin-right: 0; margin-left: 0; color: white;">

            <div class="col-12">
                <h2 align="center" style="padding-top: 30px">График работы:</h2>
                <h2 align="center" style="white-space:nowrap; color: #47B3B5">ПН - ПТ</h2>
                <h2 align="center" style="white-space:nowrap; color: #47B3B5">10:00 - 22:00</h2>
                <p align="center" style="max-width: 400px; margin: auto; font-size: 20px">(Звонить и писать в это время)</p>
            </div>

            <div class="col-12" style="text-align: center; padding-top: 30px">
                <a href="{% url 'main_app:service_list' %}"style="margin: auto">
                    <button class="new-button">Наши услуги</button>
                </a>
            </div>

        </div>
        <h2 align="center" style="padding-top: 30px;">Что входит в разработку сайта:</h2>
        <div class="row" style="margin-right: 0; margin-left: 0; min-height: 450px;border-bottom: 4px solid #47B3B5;" >

            <div class="col-12 col-lg-4">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="gear"></i>
                        <i class="gear-new"></i>
                    </div>
                    <div class="service-content">
                         <h3 class="title" >Дизайн</h3><p class="description">
                            Каждый дизайн разрабатывается с нуля<br>
                            Подбор темы в зависимости от предназначения<br>
                               сайта и пожеланий клиента<br>
                             Интуитивно понятный интерфейс
                         </p>

                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="rocket"></i>
                        <i class="rocket-new"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="title">Оптимизация</h3>

                        <p class="description">
                            Быстрая загрузка страниц<br>
                            Мгновенная передача данных<br>
                            Отсутствие технических ошибок<br>
                        </p>

                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="pen"></i>
                        <i class="pen-new"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="title">Поддержка</h3>

                        <p class="description">
                            Решение всех проблем и ошибок (если таковые имеются)<br>
                            Обратная связь с пользователями (они могут сообщить о проблеме)
                        </p>

                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}
         <div class="col-12" style="text-align: center">
            {% for index in index_elements %}
                <h2>{{ index.title }}</h2>
                <br>
                <br>
                {% autoescape off %}{{ index.description }}{% endautoescape %}
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>