{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    {% block title %} Lab Room 47 {%endblock %}
</head>
<body>

    {% block row %}
        <div class="row about-row">

            <div class="col-12">
                <h2 align="center" style="padding-top: 30px">Chamber</h2><h2 align="center" style="white-space:nowrap; color: #47B3B5">47</h2>
                <p align="center" style="max-width: 400px; margin: auto; font-size: 20px"> fdoskfas ojfopasdja sopdkas ofkasopj fiosdhag uisdhfg uiasdhfio;asdf</p>
            </div>

            <div class="col-12" style="text-align: center; padding-top: 30px">
                <a href="{% url 'main_app:service_list' %}"style="margin: auto">
                    <button class="new-button">Наши услуги</button>
                </a>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="fa fa-globe"></i>
                     </div>
                    <div class="service-content">
                         <h3 class="title">Brand</h3>
                         <p class="description">
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non risus a sem hendrerit.
                         </p>
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="title">Web Design</h3>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non risus a sem hendrerit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="service-content">
                        <h3 class="title">Store</h3>
                        <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non risus a sem hendrerit.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}

    {% block content %}
        {% for index in index_elements %}
            {{ index.title }}
            {{ index.description }}
        {% endfor %}
    {% endblock %}
</body>
</html>