{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   {% block title %} Lab Room 47 {% endblock %}
</head>
<body>
    {% block main_menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:index' %}">Главная</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'main_app:service_list' %}">Услуги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'forms_app:order' %}">Заказ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:contacts' %}">Контакты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:faq' %}">FAQ</a>
        </li>
    {% endblock %}

    {% block content %}
        <div class="row" style="margin-right: 0; margin-left: 0; min-height: 350px;border-bottom: 4px solid #47B3B5;">
            {% for service in service_list %}
                <div class="col-12 col-lg-4">
                    <div class="services-list">
                        <div class="services-list-content">
                             <h3 class="title">{{ service.name }}</h3>
                             <p class="description">
                                 {% autoescape off %}
                                     {{ service.description }}
                                 {% endautoescape %}
                             </p>
                             <p>{{ service.price }}</p>
                             <a href="{{ service.get_absolute_url }}">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>