{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   {% block title %} Lab Room 47 {%endblock %}
</head>
<body>
    {% block main_menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:index' %}">Главная</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'main_app:service_list' %}">Услуги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'forms_app:order' %}">Заказ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:contacts' %}">Контакты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:faq' %}">FAQ</a>
        </li>
    {% endblock %}
#
    {% block content %}
        {% for service in service_list %}
            <a href="{{ service.get_absolute_url }}">{{ service.name }}</a>
            <p>{{ service.price }}</p>
            {% autoescape off %}
                {{ service.description }}
            {% endautoescape %}
            {{ service.image }}
        {% endfor %}
    {% endblock %}
</body>
</html>