.container-fluid{
    color: #ffffff;
    margin-right: 0;
    margin-left: 0;
}

button.new-button{
    color: white;
    text-align: center;
    background-color: #47B3B5;
    border: none;
    height: 30px;
    border-radius: 6px;
    width: 155px;
}
.container-fluid{
    background-color: #1d242c;
    min-height: 1500px;
}
.header-row{
    min-height: 100px;
}
.content-row{
    min-height: 500px;
    padding: 15px;
    border-top: 4px solid #47B3B5;
    border-bottom: 4px solid #47B3B5;
}

.about-row{
    min-height: 300px;
    border-bottom: 4px solid #47B3B5;
    color: #c5c5c5;
}
.about-site-row{
    min-height: 500px;
    border-bottom: 4px solid #47B3B5;
    text-align: center;
}

.about-site-row h3{
    padding-top: 20px;
}
.about-site-col img{
    transform: rotate(25grad)
}
.custom-toggler .navbar-toggler-icon {
	border: 1px dashed rgba(255,255,255, 1);
	border-radius: 5px;
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.text-color-active{
    color: #1d242c;
}
.desktop-header-menu{
	position: absolute;
	right: 3%;
}
.serviceBox{
    top: 40px;
    border: 1px solid #47B3B5;
    text-align: center;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.serviceBox:before,
.serviceBox:after{
    content: "";
    width: 200%;
    height: 200%;
    background: #1d242c;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 1s ease 0.1s;
}
.serviceBox:before{
    background: #47B3B5;
}
.serviceBox:hover:after {
    background: rgba(9, 3, 18, 0.69);
    transform: rotate(10deg);
}
.serviceBox .service-content{
    color: #fff;
    line-height: 25px;
    padding: 0 20px 20px;
}
.serviceBox .title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
.serviceBox .description{
    font-size: 14px;
}

.serviceBox i.gear{
    background: url(/static/main_app/img/pen-no.png);
    background-size: 50px 50px;
    transform: rotate(40grad);
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    opacity: 0;

}
.serviceBox i.rocket{
    background: url(/static/main_app/img/rocket-no.png);
    background-size: 50px 50px;
    transform: rotate(40grad);
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    opacity: 0;

}
.serviceBox i.pen{
    background: url(/static/main_app/img/gear-yes.png);
    background-size: 50px 50px;
    transform: rotate(40grad);
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    opacity: 0;

}
.serviceBox:hover i.gear{
    background: url(/static/main_app/img/pen-yes.png);
    background-size: 50px 50px;
    transform: rotate(40grad);
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    opacity: 1;
    transition: opacity 2s;
}
.serviceBox:hover i.rocket{
    background: url(/static/main_app/img/rocket-yes.png);
    background-size: 50px 50px;
    transform: rotate(40grad);;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    opacity: 1;
    transition: opacity 2s;
}
.serviceBox:hover i.pen{
    background: url(/static/main_app/img/gear-no.png);
    background-size: 50px 50px;
    transform: rotate(40grad);
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    opacity: 1;
    transition: opacity 2s;
}



.serviceBox i.gear-new{
    background: url(/static/main_app/img/pen-no.png);
    background-size: 50px 50px;
    transform: rotate(40grad);
    margin: auto;
    display: block;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.serviceBox i.rocket-new{
    background: url(/static/main_app/img/rocket-no.png);
    background-size: 50px 50px;
    transform: rotate(40grad);
    margin: auto;
    display: block;
    width: 50px;
    height: 50px;
    opacity: 1;

}
.serviceBox i.pen-new{
    background: url(/static/main_app/img/gear-yes.png);
    background-size: 50px 50px;
    transform: rotate(40grad);
    margin: auto;
    display: block;
    width: 50px;
    height: 50px;
    opacity: 1;

}
.serviceBox:hover i.gear-new{
    background: url(/static/main_app/img/pen-no.png);
    background-size: 50px 50px;
    transform: rotate(40grad);
    display: block;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 2s;
}
.serviceBox:hover i.rocket-new{
    background: url(/static/main_app/img/rocket-no.png);
    background-size: 50px 50px;
    transform: rotate(40grad);;
    display: block;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 2s;
}
.serviceBox:hover i.pen-new{
    background: url(/static/main_app/img/gear-yes.png);
    background-size: 50px 50px;
    transform: rotate(40grad);
    display: block;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: opacity 2s;
}











@media screen and (max-width: 1000px) {
    .desktop-header-menu{
        position: relative;
        right: 0;
    }
    .serviceBox{ margin-bottom: 30px; }
}