button.new-button{
    color: white;
    text-align: center;
    background-color: #47B3B5;
    border: none;
    height: 30px;
    border-radius: 6px;
}
.container-fluid{
    background-color: #1d242c;
    min-height: 1500px;
}
.header-row{
    min-height: 100px;
}
.content-row{
    background-color: white;
    min-height: 500px;
    padding: 15px;
}
.footer-row{

}
.about-row{
    min-height: 300px;
    border-bottom: 4px solid #47B3B5;
    color: #c5c5c5;
}
.custom-toggler .navbar-toggler-icon {
	border: 1px dashed rgba(255,255,255, 1);
	border-radius: 5px;
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.text-color-active{
    color: #1d242c;
}
.desktop-header-menu{
	position: absolute;
	right: 3%;
}

@media screen and (max-width: 1000px) {
    .desktop-header-menu{
        position: relative;
        right: 0;
    }
}
