{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} Поддержка {% endblock %}
</head>
<body>
    {% block main_menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:index' %}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:service_list' %}">Услуги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'forms_app:order' %}">Заказ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:contacts' %}">Контакты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main_app:faq' %}">FAQ</a>
        </li>
    {% endblock %}

    {% block content %}
        <div class="col-12">
        <h2 class="col-12" align="center">Опишите нам Ваш вопрос/проблему:</h2><br>
        <form method="POST">
        <div class="col-12">
            {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{field.label_tag}}
                    <div>{{field}}</div>
                    <div class="errors">{{field.errors}}</div>
                </div>
                {% endfor %}
            <input class="submit" type="submit" value="Отправить">
        </div>
        </form>
        </div>
    {% endblock content %}
</body>
</html>